.page {
  max-width: 1280px;
  min-width: 300px;
  margin: auto;
  padding: 0 199px;
  box-sizing: border-box;
}

@media screen and (max-width: 1070px) {
  .page {
    padding: 0 100px;
  }
}

@media screen and (max-width: 800px) {
  .page {
    padding: 0 50px;
  }
}

@media screen and (max-width: 400px) {
  .page {
    padding: 0;
  }
}