.authentification__input-line {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    padding: 0 0 12px;
    background-color: transparent;
    color: rgba(204, 204, 204, 1);
}