.footer__text {
  color: #545454;
  font-size: 18px;
  line-height: 1.2;
  padding: 40px 0 20px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer__text {
    font-size: 14px;
    padding: 36px 0 18px 19px;
  }
}