.element__delete-btn {
  background-image: url(../../../images/Trash.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  transition: 0.3s 0s opacity ease-in;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 18px;
  right: 15px;
  display: none;
}

.element__delete-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.element__delete-btn:focus {
  outline: none;
} 
