.authentification__hint {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
  text-align: center;
  text-decoration: none;
  transition: 0.3s 0s opacity ease-in;
}

.authentification__hint:hover {
  opacity: 0.6;
  cursor: pointer;
}