.modal__save-btn {
  border-radius: 2px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  border: none;
  color: #fff;
  background-color: #000;
  transition: 0.3s 0s opacity ease-in;
}

.modal__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}