.profile__edit-btn-overlay {
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('../../../images/edit-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 48px;
  left: 48px;
  transition: opacity .3s ease-in 0s;
  opacity: 0; 
  z-index: 1;
}

.profile__edit-avatar-btn:hover .profile__edit-btn-overlay {
  opacity: 1;
}  